In [32]:
import pandas as pd
import numpy as np
from rdkit import Chem
from rdkit.Chem import AllChem
from rdkit.Chem import rdFingerprintGenerator
from rdkit import DataStructs

# Load the CSV files
pharmacologically_active = pd.read_csv('raw/pharmacologically_active.csv')
all_targets = pd.read_csv('raw/all.csv')
dti = pd.read_csv('raw/dti_dataset.csv')
drugbank = pd.read_csv('raw/drugbank.csv')
target_labels = pd.read_csv('raw/target_labels.csv')
drugs = list(target_labels.ID)

In [33]:
len(drugs)

2572

In [36]:
drugbank_filtered = drugbank[drugbank['Drug id'].isin(drugs)]
drugbank_filtered.index = np.arange(0, drugbank_filtered.shape[0])
drugbank_filtered.to_csv("raw/drugbank.csv")

In [37]:
new_drugs = list(drugbank_filtered['Drug id'])

In [38]:
len(new_drugs)

1207

In [39]:
target_labels = target_labels[target_labels['ID'].isin(new_drugs)]

In [40]:
target_labels.shape

(1841, 721)

In [41]:
# Assuming your DataFrame is called 'df'
target_labels = target_labels.drop_duplicates(subset='ID', keep='first')

In [42]:
prot = pd.read_csv("raw/protein_sequences.csv")
prot.head()

  pdb_id                                           sequence
0   1EVU  ETSRTAFGGRRAVPPNNSNAAEDDLPTVEEFLNVTSVHLFKERWDT...
1   1NSI  RHVRIKNWGSGMTFQDTLHHKAKGILTCRSKSCLGSIMTPKSLTRG...
2   1DJL  PMEISGTHTEINLDNAIDMIREANSIIITPGYGLCAAKAQYPIADL...
3   1AB2  GSGNSLEKHSWYHGPVSRNAAEYLLSSGINGSFLVRESESSPGQRS...
4   1CFG                             TRYLRIHPQSWVHQIALRMEVL

In [43]:
targets = list(prot['pdb_id'])
targets

['1EVU',
 '1NSI',
 '1DJL',
 '1AB2',
 '1CFG',
 '4BSJ',
 '1Q7D',
 '1FLT',
 '1GAG',
 '1C1Y',
 '1CZS',
 '2AJP',
 '2CSA',
 '2VGB',
 '1A2C',
 '1E51',
 '1GKC',
 '1LVQ',
 '4D1N',
 '1I0Z',
 '2F2S',
 '1LE6',
 '1I7G',
 '1A22',
 '1BZY',
 '1H9U',
 '4V06',
 '3B6R',
 '2FFX',
 '1BYW',
 '2KI9',
 '1BPX',
 '1F0X',
 '2IAG',
 '1A52',
 '1A00',
 '1E3G',
 '1CW3',
 '3QNZ',
 '1EXA',
 '1RJB',
 '3ERY',
 '1BJ1',
 '1YTV',
 '1QK1',
 '2LSQ',
 '1RKP',
 '2HGS',
 '5UH5',
 '2M3O',
 '1A27',
 '2KBI',
 '1X9N',
 '1GQ5',
 '1HRA',
 '4TWK',
 '1B2I',
 '1FM6',
 '1C5M',
 '4MQE',
 '1O86',
 '1HSO',
 '2MKV',
 '1A7C',
 '1G5M',
 '1M73',
 '4CFE',
 '3IYD',
 '1M9J',
 '1AZM',
 '1BBS',
 '1A81',
 '1ANT',
 '1HLL',
 '4JQI',
 '1GER',
 '1ALQ',
 '1BSX',
 '12CA',
 '1HVY',
 '2WGH',
 '1XU7',
 '1BOZ',
 '1BJ4',
 '1BVR',
 '1BF9',
 '1A5K',
 '1BM7',
 '1YYP',
 '1BP3',
 '3HI7',
 '3BXK',
 '1AUI',
 '2KUP',
 '1CFH',
 '2HQW',
 '1VR2',
 '1NB0',
 '1F0Y',
 '1AUT',
 '1D3G',
 '2KS9',
 '1N6U',
 '1KIL',
 '4IB4',
 '1B0F',
 '1FHA',
 '1DEH',
 '1D6G',
 '1D7K',
 '2LE3',
 '4Z9M',
 '1BY4',
 '5CFB',
 '1I10',
 '1B41',
 '1H10',
 '1T0J',
 '1MOT',
 '1DPK',
 '3RZE',
 '1PKG',
 '3ISQ',
 '1BDF',
 '1A2N',
 '1F0J',
 '3FWL',
 '1D8Y',
 '1MFG',
 '1CQP',
 '2JBM',
 '2A83',
 '1AO6',
 '1ZNC',
 '1BBR',
 '1U8F',
 '1K0P',
 '1KF6',
 '2K44',
 '1A28',
 '1EBL',
 '1J3I',
 '1G0Y',
 '3ORH',
 '1Z8L',
 '1DQ8',
 '3PBL',
 '3V4P',
 '3PTY',
 '1RY0',
 '1HDO',
 '1TV5',
 '2XSN',
 '1F5V',
 '1IHI',
 '2XDG',
 '4NKQ',
 '1UWH',
 '1CK7',
 '1ALG',
 '1CN4',
 '1BCI',
 '3S98',
 '1DKF',
 '1Y9R',
 '3BJ4',
 '4RED',
 '1LPA',
 '1D2S',
 '1NAV',
 '4PHU',
 '1AXM',
 '1GQ4',
 '1A7X',
 '1A8M',
 '2GL8',
 '3RJD',
 '1FG9',
 '1I0E',
 '1YWH',
 '1CDB',
 '1B3O',
 '2O2K',
 '2EX2',
 '1DJS',
 '1DMW',
 '3NFL',
 '1JCN',
 '1CF4',
 '1JMJ',
 '1YQ7',
 '2XIJ',
 '1DB1',
 '2DFD',
 '2IIP',
 '2CBZ',
 '1L2J',
 '1M2Z',
 '1ZVT',
 '1AJ6',
 '1B3N',
 '1DD8',
 '3QNT',
 '1AJ0',
 '1FFY',
 '2QLY',
 '1A07',
 '1A0N',
 '2HDA',
 '1MQB',
 '1BHF',
 '1LT7',
 '1I85',
 '1DR9',
 '2I0V',
 '1J2E',
 '1CFA',
 '3C59',
 '1IGR',
 '2YX8',
 '2XVT',
 '1HY9',
 '1S9J',
 '1MEJ',
 '1AH1',
 '3EPZ',
 '1E4J',
 '1H4O',
 '1FYR',
 '1ALU',
 '2K03',
 '1AYK',
 '1PME',
 '1NRN',
 '1Z6C',
 '1EKU',
 '1IVO',
 '1ILG',
 '1XKT',
 '3C6K',
 '1EUB',
 '1ADZ',
 '1BY7',
 '1A31',
 '1F42',
 '1KLA',
 '2BZG',
 '1FKN',
 '4V11',
 '1JH5',
 '1PU4',
 '1GWX',
 '1AK4',
 '1BAS',
 '1S1C',
 '1XX9',
 '1AP4',
 '2W96',
 '4JZJ',
 '1HE7',
 '1A02',
 '1AO3',
 '1DOK',
 '1HIB',
 '2ZOQ',
 '1GNG',
 '1MDI',
 '1TNR',
 '1A5H',
 '1SPJ',
 '1SG1',
 '1JNK',
 '1CVI',
 '1POZ',
 '1B3D',
 '1BYQ',
 '3J9P',
 '2ELI',
 '2QYK',
 '1EXT',
 '1ITQ',
 '3BRT',
 '1JV2',
 '1C9Q',
 '1L4T',
 '1FSB',
 '1L8J',
 '1CP3',
 '1FYW',
 '1W7B',
 '1GZK',
 '3LPO',
 '1AHW',
 '1E88',
 '1A85',
 '2G47',
 '3LMK',
 '1JIZ',
 '1DGB',
 '1HUL',
 '1KHR',
 '1P4R',
 '1ISF',
 '1T09',
 '1L9K',
 '1EPW',
 '1AWW',
 '1E9K',
 '1E8Y',
 '5JCO',
 '1SM2',
 '1CEF',
 '1C3B',
 '2BIT',
 '1A8D',
 '1AD5',
 '1BLS',
 '1RGY',
 '1I2S',
 '1HQS',
 '1ELV',
 '1B59',
 '1A30',
 '1RM8',
 '1AYP',
 '1JCZ',
 '1DLE',
 '1UK0',
 '1FXY',
 '1OSH',
 '1FNM',
 '1FDQ',
 '1KTZ',
 '1PYY',
 '1AER',
 '1DDR',
 '1HD8',
 '2KAV',
 '1Z1L',
 '1KV6',
 '3A7E',
 '1FZA',
 '1DUG',
 '1APQ',
 '3AY4',
 '1FCG',
 '2FCB',
 '3WJL',
 '1H8U',
 '1C8P',
 '1O5E',
 '2V53',
 '1AGW',
 '1RY7',
 '3FIE',
 '1U5M',
 '3RBF',
 '1UOU',
 '1GOS',
 '2CKJ',
 '1BI7',
 '2G19',
 '2LCM',
 '4F11',
 '2MAW',
 '4COF',
 '4R3O',
 '2VAY',
 '1VYV',
 '3LV3',
 '3MAX',
 '4A69',
 '3C5K',
 '1JCQ',
 '2ENQ',
 '2Q7M',
 '1AUE',
 '3G75',
 '3BCH',
 '2B7A',
 '1BIX',
 '1IAR',
 '1R46',
 '2L73',
 '3QX3',
 '2HKF',
 '1GA3',
 '2ANW',
 '2Z62',
 '1MQ0',
 '4MZV',
 '2UW2',
 '4I5I',
 '1TQN',
 '1B2Y',
 '1B0P',
 '1P5Z',
 '1YLW',
 '1YLT',
 '1YLP',
 '1IM7',
 '1N26',
 '1FZV',
 '1AII',
 '1HZE',
 '1X8B',
 '2B4Y',
 '3V6O',
 '1FVR',
 '3GC8',
 '1AAP',
 '2ZC5',
 '4AF3',
 '4KM6',
 '3D66',
 '2BRQ',
 '3D85',
 '2M2D',
 '3BIK',
 '1C3D',
 '1XIW',
 '1SY6',
 '1TCE',
 '1F9E',
 '1OBX',
 '1I8H',
 '1QFA',
 '1D01',
 '1CDH',
 '1YVJ',
 '1BL1',
 '4HNI',
 '2OBD',
 '3URF',
 '3W3G',
 '1BBN',
 '1A4G',
 '3N9Y',
 '4DVQ',
 '2Q80',
 '4GUP',
 '3P0C',
 '3P1N',
 '4ZK4',
 '1S1G',
 '1HCF',
 '3BUR',
 '2VUX',
 '2V6Z',
 '1HLG',
 '3EQU',
 '1E6F',
 '2WAD',
 '1Z93',
 '3MDZ',
 '4LU3',
 '4L1D',
 '4MZ2',
 '2J28',
 '1FJG',
 '3IT9',
 '4OON',
 '1Q3A',
 '1MMP',
 '1BQQ',
 '2JSD',
 '2AUK',
 '1Z5V',
 '2NOV',
 '3FOE',
 '3IHY',
 '2NZL',
 '2AHS',
 '3E7O',
 '1UKH',
 '2X9E',
 '3KCZ',
 '2Q8F',
 '1AXB',
 '2A4Q',
 '2J51',
 '2EOC',
 '1D8D',
 '2JLE',
 '3EYG',
 '3LXN',
 '1ANW',
 '1ONG',
 '4L6Q',
 '2CHN',
 '2C5W',
 '1W1F',
 '2UWX',
 '3GNS',
 '2UX0',
 '3QDL',
 '3RGK',
 '1GZW',
 '1JUQ',
 '2HW5',
 '4JA8',
 '1Q3X',
 '3OC2',
 '2BMB',
 '4JKV',
 '2YVQ',
 '4BDW',
 '1HZF',
 '4BGC',
 '2C7W',
 '2WUH',
 '1K1F',
 '1S9I',
 '2CU1',
 '1ACC',
 '1C04',
 '4M91',
 '1U6D',
 '3S95',
 '2AHX',
 '1A6A',
 '2Q6W',
 '1FV1',
 '1BX2',
 '1CX8',
 '3KQ0',
 '3APU',
 '2I0E',
 '1YRK',
 '2WH0',
 '2E73',
 '1VD2',
 '1XJD',
 '3BXL',
 '1A3Q',
 '1JO6',
 '2H6D',
 '2F15',
 '2UV4',
 '1SO2',
 '3JWQ',
 '1ZKL',
 '2HD1',
 '4JKQ',
 '1YH3',
 '2VXS',
 '4S0V',
 '1AB4',
 '2P4E',
 '1E25',
 '2OV5',
 '4HBT',
 '3V2W',
 '2L27',
 '2H8N',
 '5UWI',
 '3C0Y',
 '1T64',
 '2BVL',
 '2JQ3',
 '2EYI',
 '2ZOC',
 '3AQF',
 '2F37',
 '1ES7',
 '2HLQ',
 '1EGG',
 '2QN0',
 '2FPQ',
 '1T3A',
 '2A8A',
 '1ZB7',
 '2F9D',
 '2LUL',
 '2DM0',
 '2C5D',
 '2EKX',
 '1X6A',
 '3PLS',
 '1WWC',
 '3ZBF',
 '5WRJ',
 '1NFI',
 '3GJ9',
 '2K8P',
 '1P97',
 '3KG5',
 '1W9C',
 '5KS2',
 '2ZNL',
 '3OA1',
 '1J8F',
 '2ZNS',
 '3QXM',
 '1DXX',
 '5SVJ',
 '3MWD',
 '2DCO',
 '2MAE',
 '4D01',
 '3CZV',
 '3FE4',
 '1N3Y',
 '6A69',
 '1CFF',
 '3PG4',
 '1DR1',
 '1OQD',
 '5R7Y',
 '4WUR',
 '4R3D',
 '6LVN',
 '2EBO',
 '1AJ7',
 '2QSC',
 '1ADQ',
 '4WWI',
 '1Z3S',
 '2WZ1',
 '2QQJ',
 '6EUA',
 '4AP8',
 '3UVJ',
 '5O9H',
 '3ALN',
 '1F6A',
 '1NYS',
 '4CLF',
 '5J11',
 '1EXU',
 '1JPY',
 '1TVB',
 '1T5Q',
 '6U6U',
 '7RY7',
 '2MDP',
 '1G2C',
 '4BPU',
 '2X18',
 '2N80',
 '2KR6']

In [45]:
targets.insert(0, "ID")

In [46]:
target_labels = target_labels.loc[:, targets]
target_labels

,ID,1EVU,1NSI,1DJL,1AB2,1CFG,4BSJ,1Q7D,1FLT,1GAG,...,1TVB,1T5Q,6U6U,7RY7,2MDP,1G2C,4BPU,2X18,2N80,2KR6
4,DB05383,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,DB08814,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,DB09092,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,DB00619,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,DB01254,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2548,DB16690,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2549,DB09401,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2552,DB15011,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2556,DB02587,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2571,DB12005,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [47]:
target_labels.to_csv("raw/target_labels.csv")

In [ ]:
df = pd.read_csv('raw/target_labels.csv')

drug_ids = df['ID'].tolist()
pdb_ids = df.columns[1:].tolist()
labels = df.iloc[:, 1:].values

confirmed_interactions = []

for i, drug_id in enumerate(drug_ids):
    for j, pdb_id in enumerate(pdb_ids):
        if labels[i][j] == 1:
            confirmed_interactions.append((drug_id, pdb_id))

confirmed_df = pd.DataFrame(confirmed_interactions, columns=['Drug ID', 'PDB ID'])

print(confirmed_df)

confirmed_df.to_csv('confirmed_interactions.csv', index=False)

      Drug ID PDB ID
0     DB05383   1NSI
1     DB05383   3HI7
2     DB08814   1NSI
3     DB08814   1MDI
4     DB09092   1DJL
...       ...    ...
1690  DB09401   2WZ1
1691  DB09401   3UVJ
1692  DB15011   5O9H
1693  DB02587   4CLF
1694  DB12005   2KR6

[1695 rows x 2 columns]

In [73]:
drugs = confirmed_df['Drug ID'].value_counts().index[0:304]

In [74]:
targets = confirmed_df['PDB ID'].value_counts().index[0:405]

In [75]:
confirmed_d1 = confirmed_df[confirmed_df["Drug ID"].isin(drugs)]
confirmed_d1

      Drug ID PDB ID
0     DB05383   1NSI
1     DB05383   3HI7
2     DB08814   1NSI
3     DB08814   1MDI
4     DB09092   1DJL
...       ...    ...
1680  DB00562   3FE4
1684  DB15797   4WUR
1685  DB15797   4R3D
1690  DB09401   2WZ1
1691  DB09401   3UVJ

[1003 rows x 2 columns]

In [76]:
confirmed_d2 = confirmed_d1[confirmed_d1["PDB ID"].isin(targets)]
confirmed_d2

      Drug ID PDB ID
0     DB05383   1NSI
2     DB08814   1NSI
3     DB08814   1MDI
4     DB09092   1DJL
5     DB09092   3ERY
...       ...    ...
1680  DB00562   3FE4
1684  DB15797   4WUR
1685  DB15797   4R3D
1690  DB09401   2WZ1
1691  DB09401   3UVJ

[968 rows x 2 columns]

In [77]:
drugbank_filtered = drugbank[drugbank['Drug id'].isin(drugs)]
drugbank_filtered

,Unnamed: 0,Drug name,Drug id,Key idx,smiles
1,1,Adenosine phosphate,DB00131,15,Nc1ncnc2c1ncn2[C@H]1O[C@H](COP(=O)(O)O)[C@@H](...
3,3,Riboflavin,DB00140,24,Cc1cc2nc3c(=O)[nH]c(=O)nc-3n(C[C@H](O)[C@H](O)...
6,6,Creatine,DB00148,31,CN(CC(=O)[O-])C(=N)[NH3+]
10,10,Icosapent,DB00159,42,CC/C=C\C/C=C\C/C=C\C/C=C\C/C=C\CCCC(=O)O
19,19,Amphetamine,DB00182,64,C[C@@H](N)Cc1ccccc1
...,...,...,...,...,...
1166,1166,Futibatinib,DB15149,8641,C=CC(=O)N1CC[C@H](n2nc(C#Cc3cc(OC)cc(OC)c3)c3c...
1175,1175,Cambinol,DB15493,8807,O=c1nc(S)[nH]c(-c2ccccc2)c1Cc1c(O)ccc2ccccc12
1186,1186,GC-373,DB15797,8886,CC(C)C[C@@H](NC(=O)OCc1ccccc1)C(=O)N[C@H](C=O)...
1203,1203,Belumosudil,DB16703,9215,CC(C)NC(=O)COc1cccc(-c2nc(Nc3ccc4[nH]ncc4c3)c3...
1204,1204,Repotrectinib,DB16826,9249,C[C@@H]1CNC(=O)c2cnn3ccc(nc23)N[C@H](C)c2cc(F)...

In [82]:
drugbank_filtered.to_csv("raw/drugbank.csv")

In [79]:
prot_filtered = prot[prot["pdb_id"].isin(targets)]
prot_filtered

    pdb_id                                           sequence
1     1NSI  RHVRIKNWGSGMTFQDTLHHKAKGILTCRSKSCLGSIMTPKSLTRG...
2     1DJL  PMEISGTHTEINLDNAIDMIREANSIIITPGYGLCAAKAQYPIADL...
3     1AB2  GSGNSLEKHSWYHGPVSRNAAEYLLSSGINGSFLVRESESSPGQRS...
5     4BSJ  DHNPFISVEWLKGPILEATAGDELVKLPVKLAAYPPPEFQWYKDGK...
7     1FLT  EVVKFMDVYQRSYCHPIETLVDIFQEYPDEIEYIFKPSCVPLMRCG...
..     ...                                                ...
622   3UVJ  QVVQAKKFSNVTMLFSDIVGFTAICSQCSPLQVITMLNALYTRFDQ...
623   5O9H  NTLRVPDILALVIFAVVFLVGVLGNALVVWVTAFEAKRTINAIWFL...
624   3ALN  SSGKLKISPEQHWDFTAEDLKDLGEIGRGAYGSVNKMVHKPSGQIM...
627   4CLF  MNTPKEEFQDWPIVRIAAHLPDLIVYGHFSPERPFMDYFDGVLMFV...
637   4BPU  FDPTELPELLKLYYRRLFPYSQYYRWLNYGGVIKNYFQHREFSFTL...

[405 rows x 2 columns]

In [83]:
prot_filtered.to_csv("raw/protein_sequences.csv")

In [84]:
confirmed_d2.to_csv("raw/confirmed_interactions.csv")

In [87]:
target_labels = pd.read_csv("raw/target_labels.csv")

In [88]:
t1 = target_labels[target_labels['ID'].isin(drugs)]
t1

,Unnamed: 0,ID,1EVU,1NSI,1DJL,1AB2,1CFG,4BSJ,1Q7D,1FLT,...,1TVB,1T5Q,6U6U,7RY7,2MDP,1G2C,4BPU,2X18,2N80,2KR6
0,4,DB05383,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,DB08814,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,DB09092,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7,DB00619,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8,DB01254,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,2512,DB01656,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1193,2513,DB01954,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1194,2514,DB00562,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1198,2527,DB15797,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1203,2549,DB09401,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
cols = targets.insert(0, 'ID')

In [90]:
t2 = t1.loc[:, cols]
t2

PDB ID,ID,4COF,3RZE,1M2Z,1GQ4,2LSQ,1HLL,1A52,2KBI,1E3G,...,1DPK,3PTY,1F5V,1IHI,1L9K,3QNT,1AB4,1AJ6,2CBZ,4BGC
0,DB05383,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,DB08814,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,DB09092,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,DB00619,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,DB01254,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,DB01656,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1193,DB01954,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1194,DB00562,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1198,DB15797,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1203,DB09401,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
t2['4COF'].value_counts()

4COF
0    296
1      8
Name: count, dtype: int64

In [92]:
t2.to_csv("raw/target_labels.csv")